@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:ital@1&family=Outfit:wght@300&family=Poppins&family=Roboto:ital,wght@1,300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:ital@1&family=Montserrat:wght@500&family=Outfit:wght@300&family=Poppins&family=Roboto:ital,wght@1,300&family=Young+Serif&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #f2ebe3;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .section1{
    height: 375px;
    width: 250px;
}

.container .section1 .mobile{
    display: none;
}

.container .section1 img{
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .section2{
    background-color: #ffffff;
    width: 255px;
    height: 375px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
}

.section2 .para1{
    padding-bottom: 10px;
    color: #6c7289;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.section2 h2{
    padding-bottom: 10px;
    color: 	#1c232b;
    font-family: 'Fraunces', serif;
}

.section2 .para2{
    padding-bottom: 10px;
    color: #6c7289;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.section2 .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section2 .price p{
    color: #6c7289;
    font-family: 'Montserrat', sans-serif;
}

.section2 .price h2{
    padding-bottom: 10px;
    color: #3c8067;
    font-family: 'Fraunces', serif;
}

.section2 button{
    padding: 10px;
    background-color: #3c8067;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.section2 button:hover{
    cursor: pointer;
    background: #356d58;
}

.section2 button img{
    margin-right: 5px;
}

@media screen and (max-width:508px){
    .container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 30px;
    }

    .container .section1 .desktop{
        display: none;
    }

    .section1{
        width: 100px;
    }

    .container .section1 .mobile{
        display: block;
    }

    .container .section1 img{
        border-radius: 0px;
        width: 253px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .container .section2{
        border-radius: 0px;
        margin-left: 3px;
        margin-right: 1px;
    }
        
}